

<section class="container row" >

  <div  class="col-9">
    <div class="container details-section" *ngFor="let product of userProducts">
      <div class="img">
        <img [src]="product.img" [alt]="product.img">
      </div>

      <div class="product-details">
        <h5 class="title"> {{ product.name }} </h5>
        <p class="details"> {{ product.details }} </p>
        <div class="quantity">
          <select class="form-select shadow-none" #value (change)="getQuantity(value)">
            <option *ngFor="let number of quantityArray" value="{{ number }}"> {{ number }} </option>
          </select>
          <p class="price"> {{ product.price }} $ </p>
        </div>
        <div>
          <label> Total : </label>
          <input class="text-center border-0" type="text" disabled [value]="number(value.value) * product.price">
          <span> $ </span>
        </div>
        <div class="text-center">
          <button class="btn btn-danger shadow-none my-3" (click)="removeProduct(product)"> Remove </button>
        </div>
      </div>
    </div>

    <h5 class="text-center my-5 text-success" *ngIf="userProducts?.length == 0 " > No Products </h5>
  </div>

  <div class="col-3">
    <app-user-form></app-user-form>
  </div>

</section>



