

<section class="container row" >

  <div  class="col-9">
    <div class="container details-section" *ngFor="let product of userProducts">
      <div class="img">
        <img [src]="product.img" [alt]="product.img">
      </div>

      <div class="product-details">
        <h5 class="title"> {{ product.name }} </h5>
        <p class="details"> {{ product.details }} </p>
        <div class="quantity">
          <input type="number" [id]="product.id" class="form-input" min="0" max="10" [(ngModel)]="quantity" (ngModelChange)="calc(product.price)">
          <p class="price"> {{ product.price | currency }} </p>
        </div>
        <div class="text-center">
          <button class="btn btn-danger shadow-none my-3" (click)="removeProduct(product)"> Remove </button>
        </div>
      </div>
    </div>

    <h3 class="text-center"> Total: {{ total | currency }} </h3>
    <h5 class="text-center my-5 text-success" *ngIf="userProducts?.length == 0 " > No Products </h5>
  </div>

  <div class="col-3">
    <app-user-form (submittedSuccess)="submittedSuccess($event)"></app-user-form>
  </div>

</section>



